.file-uploader 
  .alert.alert-danger(
    ng-repeat="error in errors"
    ng-if="!error.valid"
  )
    button.close(
      type="button"
      ng-click="hideError(error)"
    ) &times;
    p {{error.message}}
  file-drop(file="file.file")
  file-input(file="file.file")
  file-data(
    file="file.file"
    data="file.data"
  )