.settings
  .alert.alert-danger(
    ng-if="!settings.data"
  )
    button.close(
      type="button"
      ng-click="hideError(error)"
    ) &times;
    p(ng-bind="('alerts.upload' | translate)")
  
  label.checkbox
    input(
      type="checkbox"
      ng-model="settings.ready"
    )
    span(ng-bind="('settings.approve' | translate)")
  
  label.checkbox
    input(
      type="checkbox"
      ng-model="settings.remove_code"
    )
    span(ng-bind="('settings.remove_code' | translate)")
  
  label.checkbox
    input(
      type="checkbox"
      ng-model="settings.show_table"
      ng-change="settings.toggleTable(settings.show_table)"
    )
    span(ng-bind="('settings.show_table' | translate)")
  
  #collapsing-table.collapse.in
    settings-data(
      ng-if="settings.data"
      data="settings.data"
    )

  .controls
    .btn.btn-primary(
      ng-click="settings.prevStep()"
    )
      i.glyphicon.glyphicon-chevron-left
      span(ng-bind="('controls.prev_step' | translate)")
    .btn.btn-primary.pull-right(
      ng-click="settings.nextStep()"
      ng-class="{disabled: !settings.data || !settings.ready}"
    )
      span(ng-bind="('controls.next_step' | translate)")
      i.glyphicon.glyphicon-chevron-right